# Copy to terraform.tfvars (gitignored) and fill in local values.
# Do not commit terraform.tfvars.

aws_region     = "eu-central-1"
environment    = "dev"
project        = "petclinic"
aws_account_id = "833123247984"
